html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;

  * {
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
